<form hx-post="{{ request.path }}" hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}' class="modal-content p-3">
  <div class="modal-header">
    <h5 class="modal-title">Desea eliminar todos los datos?</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-danger" hx-post="{% url 'gestionTienda:eliminarProductos'%}">
      Borrar
    </button>
    <span class="flex-grow-1"></span>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
      Cerrar
    </button>
  </div>
</form>