{% for tienda in tiendas %}
<tr id="tienda-{{ tienda.pk }}">
  <td>{{ tienda.id }}</td>
  <td>{{ tienda.direccion }}</td>
  <td>{{ tienda.provincia }}</td>
  <td>{{ tienda.region }}</td>
  <td>{{ tienda.fechaCreacion }}</td>
  <td>{{ tienda.telefono }}</td>
  <td class="justify-content-center">
    <button class="btn btn-primary btn-sm" hx-get="{% url 'gestionTienda:editarTienda' pk=tienda.pk %}" hx-target="#editar">
      <i class="fa-solid fa-pen-to-square"></i>
    </button>
  </td>
  <td>
    <a href="{% url 'gestionTienda:detalleTienda' pk=tienda.pk %}">
      <button class="btn btn-primary btn-sm">
        <i class="fa-solid fa-circle-info"></i>
      </button>
    </a>
  </td>
</tr>
{% endfor %}